
 <body screen_capture_injected="true">

   <!--<div id="header-bar">-->

	
     <div class="ads">
		
	</div>
     
     <div class="logo">
     	<a href="http://www.zerotheme.com"><img src="http://www.zerotheme.com/demo/images/logo.png" /></a>
	</div>
   </div>
   <iframe id="preview-frame" src="http://www.zerotheme.com/demo/r531/zDeliccio" name="preview-frame" frameborder="0" noresize="noresize" >
   </iframe>
   
   </body>