<!DOCTYPE html>
<html lang="en">
<head>
<title>Cuisine</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="http://www.zerotheme.com/demo/r531/zDeliccio/css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="http://www.zerotheme.com/demo/r531/zDeliccio/css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="http://www.zerotheme.com/demo/r531/zDeliccio/css/style.css" type="text/css" media="all">
<link rel="stylesheet" href="http://www.zerotheme.com/demo/r531/zDeliccio/css/zerogrid.css" type="text/css" media="all">
<link rel="stylesheet" href="http://www.zerotheme.com/demo/r531/zDeliccio/css/responsive.css" type="text/css" media="all"> 
<script type="text/javascript" src="http://www.zerotheme.com/demo/r531/zDeliccio/js/jquery-1.6.js" ></script>
<script type="text/javascript" src="http://www.zerotheme.com/demo/r531/zDeliccio/js/cufon-yui.js"></script>
<script type="text/javascript" src="http://www.zerotheme.com/demo/r531/zDeliccio/js/cufon-replace.js"></script>  
<script type="text/javascript" src="http://www.zerotheme.com/demo/r531/zDeliccio/js/Forum_400.font.js"></script>
<script type="text/javascript" src="http://www.zerotheme.com/demo/r531/zDeliccio/js/atooltip.jquery.js"></script> 
<script type="text/javascript" src="http://www.zerotheme.com/demo/r531/zDeliccio/js/css3-mediaqueries.js"></script>
<!--[if lt IE 9]>
	<script type="text/javascript" src="js/html5.js"></script>
	<style type="text/css">
		.slider_bg {behavior:url(js/PIE.htc)}
	</style>
<![endif]-->
<!--[if lt IE 7]>
	<div style='clear:both;text-align:center;position:relative'>
		<a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" alt="" /></a>
	</div>
<![endif]-->
</head>
<body id="page2">
<div class="body6">
	<div class="body1">
		<div class="main zerogrid" id="menuHeader">
 
		<!-- header -->
			<header>
				<h1><a href="http://www.zerotheme.com/demo/r531/zDeliccio/index.html" id="logo"><img src="http://www.zerotheme.com/demo/r531/zDeliccio/images/logo.png"/></a></h1>
				<nav>
					<ul id="top_nav">
						<li><a href="http://www.zerotheme.com/demo/r531/zDeliccio/index.html"><img src="http://www.zerotheme.com/demo/r531/zDeliccio/images/icon_1.gif" alt=""></a></li>
						<li><a href="#"><img src="http://www.zerotheme.com/demo/r531/zDeliccio/images/icon_2.gif" alt=""></a></li>
						<li class="end"><a href="http://www.zerotheme.com/demo/r531/zDeliccio/Contacts.html"><img src="http://www.zerotheme.com/demo/r531/zDeliccio/images/icon_3.gif" alt=""></a></li>
					</ul>
				</nav>
				<nav>
					<ul id="menu">
						<li><a href="http://localhost:8080/">Restaurant</a></li>
						<li><a href="http://localhost:8080/cuisine">Cuisine</a></li>
						<li class="active"><a href="http://localhost:8080/wines">Wine List</a></li>
						<li><a href="http://localhost:8080/cookbook">CookBook</a></li>
						<li><a href="http://localhost:8080/contact">Contacts</a></li>
					</ul>
				</nav>
			</header>
<!-- / header -->
		</div>

</div>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>